---
import { Image } from "astro:assets";
// import AgencyImage from "../assets/images/agency1.jpg";
import AdImage from "../assets/images/ad1.jpg";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Contact Us">
    <main class="grid grid-cols-1 px-edge py-24 lg:grid-cols-2">
        <section class="">
            <h1>About Three Crow Creative</h1>
            <p class="mb-4">
                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consectetur, nemo tempora,
                animi similique praesentium necessitatibus non provident dolorem quam ipsam
                distinctio doloremque laborum omnis libero quo rem ut, illum rerum reiciendis
                voluptatum aperiam. Quos, perspiciatis illo! Obcaecati voluptates laboriosam,
                mollitia quam cupiditate ipsa ea eveniet?
            </p>
            <p class="mb-4">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nesciunt facilis
                laudantium quasi, sint porro similique rem fuga deleniti repellat incidunt impedit,
                eum quas odit beatae illum neque explicabo sit obcaecati repellendus reprehenderit
                sunt fugit dolores aperiam? Voluptate repellat voluptas molestiae temporibus dolore
                numquam maxime ad, facilis quaerat! Aliquam assumenda facere doloremque praesentium?
                Vel dolor tempore sunt ullam saepe, totam repellendus aut, minima earum commodi
                asperiores?
            </p>
        </section>
        <a href="/about" class="relative block aspect-square">
            <Image
                transition:name="agency"
                class="h-full w-full object-cover object-top"
                src={AdImage}
                alt="Three Crow Creative Agency"
            />
        </a>
    </main>
</BaseLayout>
