---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Welcome to Astro.">
    <main class="px-edge py-24">
        <h1>Welcome to <span class="text-gradient">Astro</span></h1>
        <p class="text-gradient">
            A fresh new static site generator. It's built with Svelte and Astro and comes with a
            beautiful developer experience out of the box.
        </p>
    </main>
</BaseLayout>
