---
// import FullScreenNav from "./FullScreenNav.astro";
---

<header class="flex h-[80px] items-center justify-between px-edge">
    <h2>
        <a href="/" title="Three Crow Creative">
            <span class="text-gradient">Three Crow Creative</span>
        </a>
    </h2>
    <nav class="space-x-4">
        <a href="/about" title="About Us">About Us</a>
        <a href="/projects" title="Projects">Projects</a>
        <a href="/contact" title="Contact Us">Contact Us</a>
    </nav>
</header>
<!-- <FullScreenNav /> -->
