---
const legalLinks = [
    {
        name: "Privacy Policy",
        href: "/privacy-policy"
    },
    {
        name: "Terms of Service",
        href: "/terms-of-service"
    },
    {
        name: "Cookie Policy",
        href: "/cookie-policy"
    }
];
---

<nav class="flex items-center justify-between space-x-4 text-xs">
    {
        legalLinks.map((link) => (
            <a class="legal-links relative" href={link.href} title={link.name}>
                {link.name}
            </a>
        ))
    }
</nav>
<style>
    .legal-links::before {
        @apply hidden bg-black first:hidden lg:block;
        position: absolute;
        content: "";
        width: 7px;
        height: 1px;
        top: 50%;
        transform: translateX(-150%);
    }
</style>
